fastapi[all]
uvicorn[standard]
granian
sqlalchemy
psycopg2-binary
pydantic-settings
GeoAlchemy2
svix
python-jose[cryptography]
sqladmin
requests

# for opentelemetry
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-requests
opentelemetry-exporter-jaeger
opentelemetry-exporter-prometheus

# for tests
pytest
pytest-cov
httpx
pytest-html
pytest-json-report
ruff
mypy
bandit
safety
locust
